<h1>Received Requests</h1>
<%= render "daimyo/bookings/bookings", bookings: @bookings %>
<%= link_to "Return",samurais_path(), class: "btn btn-primary",id:"button" , style: "margin-top: 30px; border-radius: 20px"%>
