<h1>This is the index for Bookings</h1>

<h1>Bookings</h1>

<h1>Your Bookings</h1>

<div class="bookings">
  <% @bookings.each do |booking| %>
    <div class="booking">
      <h2>Samurai: <%= booking.samurai.name %></h2>
      <p>Skill: <%= booking.samurai.skill %></p>
      <p>Booked from: <%= booking.start_date %> to <%= booking.end_date %></p>
    </div>
  <% end %>
</div>
