<div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://gifdb.com/images/high/men-samurai-exercise-cj73symfg1rytiu4.gif
)">
  Breakfast
</div>
<%= image_tag "https://gifdb.com/images/high/men-samurai-exercise-cj73symfg1rytiu4.gif" %>
<%= link_to "Get Started", samurais_path, class: 'btn btn-primary' %>
  