</div>
<div class="samurai-gif"><%= image_tag "https://gifdb.com/images/high/men-samurai-exercise-cj73symfg1rytiu4.gif"%>
</div>
<div class="container mt-2">
  <div>
    <%= link_to "Get Started", samurais_path, class: 'btn btn-primary mt-5' %>
  </div>
