.custom-button {
  background-color: #b77e29;
  /* Add more styles as needed */
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixedbutton {
  position: fixed;
  bottom: 560px;
  right: 1000px;
}
